* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;
}


header {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 4rem;
    display: flex;
}

header input {
    all: unset;
    background-color: #fdfdfd;
    box-sizing: border-box;
    padding: 1rem;
    width: 80%;
    height: 100%;
    border-radius: 16px 0 0 16px;
    transition: 0.2s;

}

header input:focus {
    border: 3px solid #07c261;
    border-right: 0;
}

header button {
    all: unset;
    box-sizing: border-box;
    padding: 1rem;
    width: 20%;
    height: 100%;
    background: #fdfdfd;
    border: 3px solid #07c261;
    border-left: 0;
    color: #07c261;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 16px 16px 0;
}

header button:hover {
    background: #07c261;
    color: #fdfdfd;
}


main {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

main section {
    width: 100%;
    height: 500px;
    display: flex;
    gap: 4rem;
    justify-content: center;
}

main section article {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    gap: 2rem;
    padding: 50px 0 20px;
    border-radius: 16px;
    background: #fdfdfd;
}

main section article .items {
    overflow-y: auto;
    width: 100%;
    padding: 1rem;
}

main section article .item {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 5rem;
}

main section article .item div {
    color: #fdfdfd;
    background: #000000;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 16px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px 0 0 6px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

main section article .item div p {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
}

main section article .item p.remove {
    background: #000000;
}

main section article .item button {
    /* all: unset; */
    background: #fdfdfd;
    width: 100%;
    justify-self: flex-end;
    border-radius: 0 6px 6px 0;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

main section article .item button.Finished-btn {
    border: 3px solid #07c261;
    border-left: 0;
    color: #07c261;
}

main section article .item button.Finished-btn:hover {
    background: #07c261;
    color: #fdfdfd;
}

main section article .item button.Remove {
    border: 3px solid #c20707;
    border-left: 0;
    color: #c20707;
}

main section article .item button.Remove:hover {
    background: #c20707;
    color: #fdfdfd;
}

.text-box {
    width: 80%;
    height: 4rem;
    border-radius: 16px;
    color: #fdfdfd;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    transition: 0.5s;
    opacity: 0%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.text-box.ok {
    background-color: #07c261;
}

.text-box.err {
    background-color: #c20707;
}

.text-box p {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
}


@media screen and (max-width: 900px) {
    body {
        grid-template-rows: 1fr 4fr;
        font-size: 0.8rem;
    }

    main section {
        flex-direction: column;
        height: 600px;
        gap: 1rem;
    }

    main section article {
        width: 100%;
        max-height: 50%;
    }
    main section article .item button {
        font-size: 0.5rem;
    }
    .text-box {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-row-end: 3;
        grid-column-end: 4;
        position: absolute;
        bottom: 10px;
    }
}